## Write a Python program to create a tuple

In [1]:
tup = (1, 2, 3, 4, 5)

print(tup)

(1, 2, 3, 4, 5)

## Write a Python program to create a tuple with different data types.

In [2]:
tup1 = (1, True, "abc", 9.54)

print(tup1)

(1, True, 'abc', 9.54)

## Write a Python program to unpack a tuple in several variables.

In [4]:
tup2 = (1, 2, 3, 4)

print(tup2)
t1, t2, t3, t4 = tup2

print(t1, t2, t3, t4)

(1, 2, 3, 4)
1 2 3 4

## Write a Python program to create the colon of a tuple.

## Write a Python program to find the repeated items of a tuple.

In [10]:
s = set()
tup3 = (1, 2, 3, 3, 4, 4, 4, 5, 6, 7)  
for i in tup3:
    if tup3.count(i) > 1:
        s.add(i)
        
print(s)

{3, 4}

## Write a Python program to check whether an element exists within a tuple.

In [11]:
print(9 in tup3)
print(2 in tup3)

False
True

## Write a Python program to convert a list to a tuple.

In [21]:
list1 = [1, 2, 3, 4, 5]

tup4 = tuple(list1)

print(type(tup4))
print(tup4)

<class 'tuple'>
(1, 2, 3, 4, 5)

## Write a Python program to remove an item from a tuple.

In [ ]:
tup5 = (11, 22, 33, 44, 55, 66, 77)

ls = list(tup5)
ls.remove(44)

tup5 = tuple(ls)
print(tup5)

##  Write a Python program to slice a tuple

In [ ]:
print(tup5[2:4])
print(tup5[:5])
print(tup5[3:])

## Write a Python program to reverse a tuple.

In [ ]:
print(reversed(tup5))